p {
  text-align: justify;
}

}

.bg-blue {
  background-color: rgba(186, 215, 237, 0.5);
}

.formulario {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer {
  background-color:  rgb(154, 228, 202);
  height: 50vh;
  width: auto;   
}
